/*body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:150px 150px 150px ;
    gap: 15px;
}

header{
    background-color: aqua;
    grid-column: 1/4;
}

main{
    background-color: rgb(3, 169, 169);
    grid-column: 1/3;
}

aside{
    background-color: rgb(2, 128, 128);
    grid-column: 3/4;
}

footer{
    background-color: rgb(1, 77, 77);
    grid-column: 1/4;
}*/

@media screen and (min-width: 340px) and (max-width: 840px) {
    body{
        background-color: black;
        display: grid;
    }
}

body{
    display: grid;
    /*grid-template-rows: 150px 150px 150px;*/
    grid-template-rows: repeat(3, 150px);
    grid-template-areas: 
    "header header header"
    "main main aside"
    "footer footer footer";
    gap: 15px;
}

header{
    background-color: aqua;
    grid-area: header;
}

main{
    background-color: rgb(3, 169, 169);
    grid-area: main;
}

aside{
    background-color: rgb(2, 128, 128);
    grid-area: aside;
}

footer{
    background-color: rgb(1, 77, 77);
    grid-area: footer;
}