@import url("font.css");

*{
    font-family: 'Outfit';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(
        270deg,
        #2c2c2c,  /* Dark grey for depth */
        #444444,  /* Medium grey for balance */
        #eeeeee,  /* Light grey for contrast */
        #5c0e0e   /* Dark crimson as a subtle accent */
        );
    color: #333; /* Dark grey text for readability */
    background-size: 800% 800%;
    animation: gradientShift 12s ease infinite;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 5vw;
    margin: 2vw 0;
    border-radius: 10px;
}

.project-header {
    background-color: #e0e0e0;
    color: white;
    text-align: center;
    padding: 8vw 5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.project-title{
    color: #b71c1c;
}

.project-overview, .project-details, .project-process, .project-outcome, .project-lessons, .project-cta {
    background-color: #ffffff;
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90vw;
}

.project-details ul{
    list-style-type: square;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

/*first section focused*/
.project-overview .title-image{
    display: flex;
    max-width: 50%;
}

a {
    color: #b71c1c; /* Gold accent for a hint of mystery */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #fff;
}

@media (max-width: 768px) {
    section {
        padding: 8vw;
    }
}

/*tech stack specific*/
.tech-stack {
    display: flex;
    justify-content: center;
    gap: 3rem; /* Creates even spacing between items */
    padding: 2rem 0;
    flex-wrap: wrap;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 120px; /* Adjusted size for better visibility */
}

.tech-icon {
    width: 80px; /* Increased size */
    height: 80px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.tech-icon:hover {
    transform: scale(1.1);
}

.tech-item p {
    margin-top: 0.5rem;
    font-size: 1.2rem; /* Slightly larger font for better readability */
    font-weight: bold;
    color: #b71c1c;
}
