/*@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: 'Outfit';
}*/

@keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.navbar{
    position: absolute;
    background-color: #04AA6D;
    top: 0;
    width: 100%;
}

.navbar a{
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 34px;
    padding: 14px 20px;
    text-decoration: none;
    transition-duration: 0.4s;
}

.navbar a:hover{
    background-color: antiquewhite;
    color: black;
}

/*created gradient pattern based off of this https://cssgradient.io */
body{
    padding-top: 30px;
    display: block;
    background: linear-gradient(
    270deg,
    #87ceeb,
    #add8e6,
    #afeeee,
    #d8bfd8  
    );
    background-size: 800% 800%;
    animation: gradientShift 12s ease infinite;
}

h1{
    font-size: 54px;
    color: #015033;
}

h2{
    font-size: 40px;
    color: #015033;
}

p1, li{
    font-size: 30px;
}

button{
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover{
    background-color: #04AA6D;
    color: white;
}